<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cynoteck.petofyparents">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activty.SearchActivity"></activity>
        <activity android:name=".activty.AdoptionPetDetailsActivity" />
        <activity android:name=".activty.DoYouWantAdoptActivity" />
        <activity android:name=".activty.DoYouWantDonateActivity" />
        <activity android:name=".activty.DonationActivity" />
        <activity android:name=".activty.AdoptionActivity" />
        <activity android:name=".activty.PaymentScreenActivity" />
        <activity android:name=".activty.AddUpdateAppointmentActivity" />
        <activity android:name=".activty.VetListActivity" />
        <activity android:name=".activty.UpdateParentProfileActivity" />
        <activity android:name=".activty.ChangePasswordActivity" />
        <activity android:name=".activty.SettingActivity" />
        <activity android:name=".activty.PetProfileActivity" />
        <activity android:name=".activty.GetPetDetailsActivity" />
        <activity android:name=".activty.AddPetRegister" />
        <activity
            android:name=".activty.PetIdCardActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".activty.ForgetPasswordActivity" />
        <activity android:name=".activty.RegisterActivity" />
        <activity android:name=".activty.LoginActivity" />
        <activity android:name=".activty.DashBoardActivity" />
        <activity android:name=".activty.SelectPetReportsActivity" />
        <activity android:name=".activty.ReportsCommonActivity" />
        <activity android:name=".activty.ViewReportsDeatilsActivity" />
        <activity android:name=".activty.SplasScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>